{% include 'PerformCmsBundle::scripts.html.twig' %}

<div class="perform-cms">
  <nav class="nav navbar-default navbar-top">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Page Editor</a>
    </div>
    <ul class="nav navbar-nav">
      {% if currentVersion is not null %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-clock-o"></i>
            <span class="current-version-title">{{currentVersion.title}}</span>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu version-selector">
            {% for version in versions %}
              <li>
                <a href="#"
                   class="{% if version == currentVersion %}active {% endif %}version version-{{version.id}}"
                   data-id="{{version.id}}"
                   data-publish-url="{{path('perform_cms_editor_publishversion', {id: version.id})}}"
                   data-save-url="{{path('perform_cms_editor_saveversion', {id: version.id})}}"
                   data-load-url="{{path('perform_cms_editor_loadversion', {id: version.id})}}">
                  {{version.title}}
                  <span class="published-indicator">
                    {% if version.published %}
                      (published)
                    {% endif %}
                  </span>
                </a>
              </li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="#">Show all</a></li>
          </ul>
        </li>
        <li>
          <a class="action-save" href="#">
            Save
          </a>
        </li>
        <li>
          <a href="#">
            Save As
          </a>
        </li>
        <li>
          <a class="action-publish" href="#">
            Publish
          </a>
        </li>
      {% endif %}
      <li>
        <a href="{{path('perform_cms_session_end')}}">
          Finish Editing
        </a>
      </li>
    </ul>
  </nav>

  <div class="modal" id="load-mask" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-body">
        <i class="fa fa-spin fa-spinner"></i>
      </div>
    </div>
  </div>

  {% include 'PerformBaseBundle::flash_messages.html.twig' %}
  <div class="admin-flash-messages">
  </div>

  {% include 'PerformCmsBundle::modal.html.twig' %}
</div>

<script type="text/template" id="template-add-block">
  {% for name, type in registry.getTypes() %}
    <a class="add-block-type" data-type="{{name}}">{{name}}</a>
  {% endfor %}
</script>

{% for name, type in registry.getTypes() %}
  <script type="text/template" id="content-block-{{name}}">
    <div class="content">
      {{registry.getEditorTemplate(name).renderBlock('content', {})}}
    </div>

    <% if (!readonly) { %>
    <div class="controls btn-group">
      <a class="btn btn-xs btn-default move-up"><i class="fa fa-arrow-up"></i></a>
      <a class="btn btn-xs btn-default move-down"><i class="fa fa-arrow-down"></i></a>
      <a class="btn btn-xs btn-default edit"><i class="fa fa-pencil"></i></a>
      <a class="btn btn-xs btn-default remove"><i class="fa fa-trash"></i></a>
    </div>
    <% } %>
  </script>

  <script type="text/template" id="content-editor-{{name}}">
    {{registry.getEditorTemplate(name).renderBlock('editor', {})}}
  </script>
{% endfor %}
