{% extends 'PerformBaseBundle::base.html.twig' %}

{% set title = 'crud.title.create'|trans({'%entity_name%': labelConfig.getEntityName()}, 'PerformBaseBundle') %}
{% set list_title = 'crud.title.list'|trans({'%entity_name%': labelConfig.getEntityNamePlural()}, 'PerformBaseBundle') %}

{% block page_title %}
  {{title}} | {{list_title}} | {{parent()}}
{% endblock %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> {{title}}</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      {% block panel_heading %}
        {{labelConfig.getEntityName()}}
      {% endblock %}
    </div>
    <div class="panel-body">
      {{form_start(form)}}
      {% for field, config in form.vars.fields %}
        {{perform_crud_create_context(entity, field, config, form)}}
      {% endfor %}
      <a href="{{perform_crud_route(entity, 'list')}}" class="btn btn-default" tabindex="-1">Cancel</a>
      <button type="submit" class="btn btn-primary">Save</button>
      {{form_end(form)}}
    </div>
  </div>
{% endblock %}
