{% extends 'PerformBaseBundle::base.html.twig' %}

{% set entity_name = perform_crud_entity_name(entity) %}
{% set title = 'crud.title.edit'|trans({'%entity_name%': entity_name}, 'PerformBaseBundle') %}
{% set list_title = 'crud.title.list'|trans({'%entity_type%': 'Items'}, 'PerformBaseBundle') %}

{% block page_title %}
  {{title}} | {{list_title}} | {{parent()}}
{% endblock %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> {{title}}</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      {{form_start(form)}}
      {% for field, config in form.vars.fields %}
        {{perform_crud_edit_context(entity, field, config, form)}}
      {% endfor %}
      {% block actions %}
        <a href="{{perform_crud_route(entity, 'list')}}" class="btn btn-default" tabindex="-1">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
      {% endblock %}
      {{form_end(form)}}
    </div>
  </div>
{% endblock %}
