{% extends '@PerformBase/base.html.twig' %}

{% set title = 'crud.title.edit'|trans({'%entity_label%': labelConfig.getEntityLabel(entity)}, 'PerformBaseBundle') %}
{% set list_title = 'crud.title.list'|trans({'%entity_name%': labelConfig.getEntityNamePlural()}, 'PerformBaseBundle') %}

{% block page_title %}
  {{title}} | {{list_title}} | {{parent()}}
{% endblock %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> {{title}}</h3>
  <div class="card">
    <div class="card-header">
      {% block panel_heading %}
        {{labelConfig.getEntityName()}}
      {% endblock %}
    </div>
    <div class="card-body">
      {{form_start(form)}}
      {% for field, config in form.vars.fields %}
        {{perform_crud_edit_context(entity, field, config, form)}}
      {% endfor %}
      {% block actions %}
        <a href="{{perform_crud_route(crudName, 'list')}}" class="btn btn-light" tabindex="-1">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
      {% endblock %}
      {{form_end(form)}}
    </div>
  </div>
{% endblock %}
