{% extends 'PerformBaseBundle::base.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> Items</h3>
  {% block actions %}
    {% if perform_crud_route_exists(entityClass, 'create') %}
      <a href="{{perform_crud_route(entityClass, 'create')}}" class="btn btn-primary">Create</a>
    {% endif %}
  {% endblock %}
  <div class="row mt">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <thead>
              {% for field, config in fields %}
                <th>
                  {% if not config.options.sort %}
                    {{config.options.label}}
                  {% elseif orderBy.field is same as(field) %}
                    {% if orderBy.direction == 'ASC' %}
                      <a href="{{perform_crud_route(entityClass, 'list', {sort: field, direction: 'desc'})}}">
                        {{config.options.label}}
                      </a>
                      <i class="fa fa-sort-asc"></i>
                    {% elseif orderBy.direction == 'DESC' %}
                      <a href="{{perform_crud_route(entityClass, 'list')}}">
                        {{config.options.label}}
                      </a>
                      <i class="fa fa-sort-desc"></i>
                    {% endif %}
                  {% else %}
                    <a href="{{perform_crud_route(entityClass, 'list', {sort: field, direction: 'asc'})}}">
                      {{config.options.label}}
                    </a>
                  {% endif %}
                </th>
              {% endfor %}
            </thead>
            <tbody>
              {% for entity in paginator.currentPageResults %}
                <tr>
                  {% for field, config in fields %}
                    <th>{{perform_crud_list_context(entity, field, config)}}</th>
                  {% endfor %}
                  {% block entityActions %}
                    <td>
                      {% if perform_crud_route_exists(entity, 'view') %}
                        <a href="{{perform_crud_route(entity, 'view')}}">View</a>
                      {% endif %}
                      {% if perform_crud_route_exists(entity, 'edit') %}
                        <a href="{{perform_crud_route(entity, 'edit')}}">Edit</a>
                      {% endif %}
                      {% if perform_crud_route_exists(entity, 'delete') %}
                        <a href="#" data-action="{{perform_crud_route(entity, 'delete')}}" data-toggle="modal" data-target="#modal-delete">Delete</a>
                      {% endif %}
                    </td>
                  {% endblock %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% block paginator %}
    {% include 'PerformBaseBundle:Crud:paginator.html.twig' %}
  {% endblock %}
{% endblock %}

{% block extras %}
  {% include 'PerformBaseBundle:Crud:modal/delete.html.twig' %}
{% endblock %}
