<table class="table table-crud table-responsive-md">
  <thead>
    <th>
      <input type="checkbox" class="batch-selector"/>
    </th>
    {% set query = app.request.query.all() %}
    {% for field, config in fields %}
      <th>
        {% if not config.sort %}
          {{config.listOptions.label}}
        {% elseif orderBy.field is same as(field) %}
          {% if orderBy.direction == 'ASC' %}
            <a href="{{perform_crud_route(entityClass, 'list', query|merge({sort: field, direction: 'desc'}))}}">
              {{config.listOptions.label}}
            </a>
            <i class="fa fa-sort-asc"></i>
          {% elseif orderBy.direction == 'DESC' %}
            <a href="{{perform_crud_route(entityClass, 'list', query|merge({sort: null, direction: 'n'}))}}">
              {{config.listOptions.label}}
            </a>
            <i class="fa fa-sort-desc"></i>
          {% endif %}
        {% else %}
          <a href="{{perform_crud_route(entityClass, 'list', query|merge({sort: field, direction: 'asc'}))}}">
            {{config.listOptions.label}}
          </a>
        {% endif %}
      </th>
    {% endfor %}
    <th></th>
  </thead>
  <tbody>
    {% for entity in paginator.currentPageResults %}
      <tr>
        <td><input type="checkbox" class="selector" data-id="{{entity.id}}"/></td>
        {% for field, config in fields %}
          <td>{{perform_crud_list_context(entity, field, config)}}</td>
        {% endfor %}
        {% block entityActions %}
          <td>
            {% for action in perform_action_buttons_for(entity) %}
              {{perform_action_button(action, entity, 'list', {class: "btn-sm"})}}
            {% endfor %}
          </td>
        {% endblock %}
      </tr>
    {% endfor %}
  </tbody>
</table>
