{% extends 'PerformBaseBundle::base.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> View</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      {% block panel_heading %}
        {{perform_crud_entity_name(entity)}}
      {% endblock %}
    </div>
    <div class="panel-body">
      {% block panel_start %}
      {% endblock %}
      <table class="table">
        <tbody>
          {% for field, config in fields %}
            <tr>
              <th>
                {{config.viewOptions.label}}
              </th>
              <td>
                {{perform_crud_view_context(entity, field, config)}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% block actions %}
        <a href="{{perform_crud_route(entity, 'list')}}" class="btn btn-default">Back</a>
        {% if perform_crud_route_exists(entity, 'edit') %}
          <a href="{{perform_crud_route(entity, 'edit')}}" class="btn btn-primary">Edit</a>
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
