{% extends 'PerformBaseBundle::base.html.twig' %}

{% set entity_name = perform_crud_entity_name(entity) %}
{% set title = 'crud.title.view'|trans({'%entity_name%': entity_name}, 'PerformBaseBundle') %}
{% set list_title = 'crud.title.list'|trans({'%entity_type%': 'Items'}, 'PerformBaseBundle') %}

{% block page_title %}
  {{title}} | {{list_title}} | {{parent()}}
{% endblock %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> {{title}}</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      {% block panel_heading %}
        {{entity_name}}
      {% endblock %}
    </div>
    <div class="panel-body">
      {% block panel_start %}
      {% endblock %}
      <table class="table">
        <tbody>
          {% for field, config in fields %}
            <tr>
              <th>
                {{config.viewOptions.label}}
              </th>
              <td>
                {{perform_crud_view_context(entity, field, config)}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% block actions %}
        <a href="{{perform_crud_route(entity, 'list')}}" class="btn btn-default">Back</a>
        {% if perform_crud_route_exists(entity, 'edit') %}
          <a href="{{perform_crud_route(entity, 'edit')}}" class="btn btn-warning">Edit</a>
        {% endif %}
        {% for action in perform_actions_for_entity(entity) %}
          {{perform_action_button(action, entity)}}
        {% endfor %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block extras %}
  {% include 'PerformBaseBundle:Crud:modal/actionConfirm.html.twig' %}
{% endblock %}
