{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
  {% if collector.activeCrud is not null %}
  {% set icon %}
    <span class="icon">{{ include('@PerformBase/data_collector/crud.svg') }}</span>
    <span class="sf-toolbar-value">&nbsp;&nbsp;{{collector.activeCrudAlias}}</span>
  {% endset %}

  {% set text %}
  <div class="sf-toolbar-info-piece">
    <b>Active Crud</b>
    <span class="sf-toolbar-status">{{collector.activeCrud}}</span>
  </div>
  <div class="sf-toolbar-info-piece">
    <b>Available</b>
    <span class="sf-toolbar-status">{{ collector.crudNames | length }}</span>
  </div>
  <div class="sf-toolbar-info-piece">
    <b>Extended Entities</b>
    <span class="sf-toolbar-status">{{ collector.extendedEntities | length }}</span>
  </div>
  {% endset %}

  {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', {'link' : true}) }}
  {% endif %}
{% endblock %}

{% block menu %}
  <span class="label{{collector.activeCrud is null ? ' disabled'}}">
    <span class="icon">{{ include('@PerformBase/data_collector/crud.svg') }}</span>
    <strong>Crud</strong>
  </span>
{% endblock %}

{% block panel %}
  {% if collector.activeCrud is not null %}
    <h2>Active Crud</h2>
    <div class="metrics">
      <table>
        <tbody>
          <tr>
            <th>Crud Name</th>
            <td>{{collector.activeCrud}}</td>
          </tr>
          <tr>
            <th>Crud Class</th>
            <td>{{collector.activeCrudClass}}</td>
          </tr>
          <tr>
            <th>Entity Class</th>
            <td>{{collector.activeEntity}}</td>
          </tr>
        </tbody>
      </table>
      <!-- show if entity is extended -->
    </div>
    {% if collector.fieldConfig is not null %}
      <h2>Field Config</h2>
      <table>
        <thead>
          <tr>
            <th scope="col">Field</th>
            <th scope="col">Added Configs</th>
            <th scope="col">Resolved Config</th>
          </tr>
        </thead>
        <tbody>
          {% for field, addedConfigs in collector.addedConfigs %}
            <tr>
              <td>{{ field }}</td>
              <td>
                {% for config in addedConfigs %}
                  {{profiler_dump(config, 1)}}
                {% endfor %}
              </td>
              <td class="font-normal">{{profiler_dump(collector.fieldConfig[field], 1)}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}

  <h2>Loaded Crud Services</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Class</th>
        <th scope="col">Entity Class</th>
      </tr>
    </thead>
    <tbody>
      {% for crudName, data in collector.crudNames %}
        <tr>
          <td>{{ crudName }}</td>
          <td class="font-normal">{{ data[0] }}</td>
          <td class="font-normal">{{ data[1] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Extended Entities</h2>
  <p>
    Whenever crud functionality is requested for a parent entity, the child entity will be used instead.
  </p>
  <table>
    <thead>
      <tr>
        <th scope="col">Parent</th>
        <th scope="col">Child</th>
      </tr>
    </thead>
    <tbody>
      {% for parent, child in collector.extendedEntities %}
        <tr>
          <td>{{ parent }}</td>
          <td>{{ child }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
