<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Administration</title>
    {% block css %}
      <link rel="stylesheet" type="text/css" href="{{asset('bundles/performbase/css/app.css')}}" />
      {% for css in perform_asset_css() %}
        <link rel="stylesheet" type="text/css" href="{{asset(css)}}" />
      {% endfor %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <nav class="navbar navbar-default navbar-top">
        <div class="navbar-header">
          <div class="sidebar-toggle-box">
            <div class="fa fa-minus-square-o" id="menu-toggle" data-toggle="tooltip" data-placement="right" title="Toggle Navigation"></div>
          </div>
          <a href="{{path('perform_base_dashboard_index')}}" class="navbar-brand">
            Site Administration
          </a>
        </div>

        <div class="navbar-right">
          <a class="btn btn-info navbar-btn" href="{{path('perform_base_logout')}}">Logout</a>
        </div>
      </nav>

      <div class="admin-flash-messages">
      </div>

      <aside>
        <div id="sidebar" class="nav-collapse">
          {{ knp_menu_render('main', {}, 'perform_admin') }}
        </div>
      </aside>

      <section id="main-content">
        <section class="wrapper site-min-height">

          {% block workspace %}
          {% endblock %}
        </section>
      </section>

      <footer class="site-footer">
        <div class="text-center">
          A <a target="_blank" href="//glynnforrest.com">glynnforrest.com</a> project.
        </div>
      </footer>

    {% endblock %}

    {% block extras %}
    {% endblock %}

    {% block baseJs %}
      {% include 'PerformBaseBundle::scripts.html.twig' %}
      {% include 'PerformBaseBundle::flash_messages.html.twig' %}
    {% endblock %}
    {% block js %}
      {% for js in perform_asset_js() %}
        <script type="text/javascript" src="{{asset(js)}}"></script>
      {% endfor %}
    {% endblock %}
  </body>
</html>
