<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block page_title %}
        {{'header.title'|trans({}, 'PerformBaseBundle')}}
      {% endblock %}
    </title>
    {% block css %}
      <link rel="stylesheet" type="text/css" href="{{asset('perform.css')}}" />
      {% for css in perform_asset_css() %}
        <link rel="stylesheet" type="text/css" href="{{asset(css)}}" />
      {% endfor %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {% include '@PerformBase/_header.html.twig' %}

      <div class="admin-flash-messages">
      </div>

      <div class="wrapper">
        <div id="sidebar">
          {% include '@PerformBase/_sidebar.html.twig' %}
        </div>

        <div id="workspace" class="container-fluid">
          {% block workspace %}
          {% endblock %}
        </div>
      </div>

      <footer class="site-footer text-center">
        {{'footer' | trans({}, 'PerformBaseBundle') | raw}}
      </footer>

    {% endblock %}

    {% block extras %}
    {% endblock %}

    {% block js %}
      {% include '@PerformBase/_scripts.html.twig' %}
      {% include '@PerformBase/_flash_messages.html.twig' %}
      {% for js in perform_asset_js() %}
        <script type="text/javascript" src="{{asset(js)}}"></script>
      {% endfor %}
      <script>
       {% for js in perform_asset_inline_js() %}
       {{js|raw}}
       {% endfor %}
      </script>
    {% endblock %}
  </body>
</html>
