<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block page_title %}
        {{'header.title'|trans({}, 'PerformBaseBundle')}}
      {% endblock %}
    </title>
    {% block css %}
      <link rel="stylesheet" type="text/css" href="{{asset('bundles/performbase/css/app.css')}}" />
      {% for css in perform_asset_css() %}
        <link rel="stylesheet" type="text/css" href="{{asset(css)}}" />
      {% endfor %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a href="{{path('perform_base_dashboard_index')}}" class="navbar-brand">
          {{'header.title'|trans({}, 'PerformBaseBundle')}}
        </a>
        <button class="btn btn-light btn-sm sidebar-toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul id="perform-tasks" class="navbar-nav">
          <p-tasks :tasks="tasks"></p-tasks>
        </ul>
        <a class="btn btn-primary" href="{{path('perform_user_logout')}}">Logout</a>
      </nav>

      {% verbatim %}
        <script type="text/x-template" id="template-tasks">
         <b-nav-item-dropdown text="Tasks" right>
         <template slot="button-content">
         <i class="fa fa-tasks"></i>
         <span class="badge badge-primary" v-show="tasks.length > 0">{{tasks.length}}</span>
         </template>
         <b-dropdown-header>Running tasks</b-dropdown-header>
         <template v-for="task in tasks">
         <b-dropdown-item href="#">
         <p>{{task.title}}</p>
         <b-progress :value="task.current" :max="task.max" animated></b-progress>
         </b-dropdown-item>
         </template>
         </b-nav-item-dropdown>
        </script>
      {% endverbatim %}

      <div class="admin-flash-messages">
      </div>

      <div class="wrapper">
        <div id="sidebar" class="col-md-3">
          {{ knp_menu_render('main', {}, 'perform_admin') }}
        </div>

        <div id="workspace" class="container-fluid">
          {% block workspace %}
          {% endblock %}
        </div>
      </div>

      <footer class="site-footer text-center">
        {{'footer' | trans({}, 'PerformBaseBundle') | raw}}
      </footer>

    {% endblock %}

    {% block extras %}
    {% endblock %}

    {% block js %}
      {% include 'PerformBaseBundle::scripts.html.twig' %}
      {% include 'PerformBaseBundle::flash_messages.html.twig' %}
      {% for js in perform_asset_js() %}
        <script type="text/javascript" src="{{asset(js)}}"></script>
      {% endfor %}
    {% endblock %}
  </body>
</html>
