{% use "bootstrap_4_horizontal_layout.html.twig" %}

{# use attr in a form type to override
    'attr' => [
        'rows' => 5,
    ],
#}
{% block textarea_widget %}
  {% if attr.rows is not defined %}
    {% set attr = attr|merge({rows: 12}) %}
  {% endif %}
  {{- parent() -}}
{% endblock textarea_widget %}

{% block choice_widget_collapsed -%}
  {% if attr.no_select2 is not defined %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' select2')|trim}) %}
  {% endif %}
  {{- parent() -}}
{%- endblock %}

{% block datepicker_widget -%}
  {# just a skeleton - the vue component will replace the elements in the div #}
  <div class="input-group p-form-datepicker"
       id="p-comp-container-{{id}}"
       data-format="{{form.vars.datepicker_format}}"
       data-pick-date="{{form.vars.pick_date}}"
       data-pick-time="{{form.vars.pick_time}}"
  >
    <span class="input-group-addon">
      <span class="fa fa-calendar"></span>
    </span>
    {{block('datetime_widget')}}
  </div>
{%- endblock %}
