{% use "bootstrap_4_horizontal_layout.html.twig" %}

{# use attr in a form type to override
    'attr' => [
        'rows' => 5,
    ],
#}
{% block textarea_widget %}
  {% if attr.rows is not defined %}
    {% set attr = attr|merge({rows: 12}) %}
  {% endif %}
  {{- parent() -}}
{% endblock textarea_widget %}

{% block choice_widget_collapsed -%}
  {% if attr.no_select2 is not defined %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' select2')|trim}) %}
  {% endif %}
  {{- parent() -}}
{%- endblock %}

{% block duration_widget %}
  {{form_widget(form)}}
  <small class="form-text text-muted">e.g. 2m 3s, 1h30m, 3d 40m 2h 30s</small>
{% endblock %}

{% block datepicker_widget -%}
  {# just a skeleton - the vue component will replace the elements in the div #}
  <div class="input-group p-form-datepicker"
       id="p-comp-container-{{id}}"
       data-format="{{form.vars.format}}"
       data-pick-date="{{form.vars.pick_date}}"
       data-pick-time="{{form.vars.pick_time}}"
       data-week-start="{{form.vars.week_start}}"
  >
    <span class="input-group-addon">
      <span class="fa fa-calendar"></span>
    </span>
    {{block('datetime_widget')}}
  </div>
{%- endblock %}

{% block perform_money_widget -%}
  <div class="input-group">
    {{form_widget(form.currency)}}
    <div class="input-group-addon{% if not form.vars.valid %} text-danger border-right-0 border-danger{% endif %}">
      <div class="input-group-text">
        {% set currency_code = form.currency.vars.data is not null ? form.currency.vars.data : default_currency %}
        {% if currency_classes[currency_code] is defined %}
          <span class="fa {{currency_classes[form.currency.vars.data]}}"></span>
        {% else %}
          {{currency_code}}
        {% endif %}
      </div>
    </div>
    {{form_widget(form.amount)}}
  </div>
{%- endblock %}
