{% extends '@PerformBase/type/simple.html.twig' %}

{% block list %}
  {# potential for live media previews etc here #}
  {{value | raw}}
{% endblock %}

{% block create %}
  {% if type_vars.use_selector %}
    <div class="form-group row perform-media-type">
      {{form_label(form[field])}}
      <div class="col-sm-10">
        {{form_widget(form[field])}}
        <a class="btn btn-secondary btn-sm" href="#">
          Select file
        </a>
        <span class="filename">
          {% if type_vars.file %}
            {{type_vars.file.name}}
          {% endif %}
        </span>
        {{form_errors(form[field])}}
      </div>
    </div>
  {% else %}
    {{parent()}}
  {% endif %}
{% endblock %}
