{% extends '@PerformBase/field_type/simple.html.twig' %}

{% block related_entity %}
  {% if link_to is defined and link_to == true and perform_crud_route_exists(crud_name, 'view') %}
    <a href="{{perform_crud_route(crud_name, 'view', {entity: related_entity})}}">
      {{attribute(related_entity, display_field)}}
    </a>
  {% else %}
    {{attribute(related_entity, display_field)}}
  {% endif %}
{% endblock %}

{% block view %}
  {% if multiple %}
    <ul class="list-unstyled">
      {% for item in related_entity %}
        {% with {related_entity: item} %}
          <li>
            {{block('related_entity')}}
          </li>
        {% endwith %}
      {% endfor %}
    </ul>
  {% else %}
    {{block('list')}}
  {% endif %}
{% endblock %}

{% block list %}
  {% if multiple %}
    {{value | length}} items
  {% else %}
    {% if related_entity %}
      {{block('related_entity')}}
    {% endif %}
  {% endif %}
{% endblock %}
