{% extends '@PerformBase/crud/view.html.twig' %}

{% block workspace %}
  {{parent()}}
  <div class="card">
    <div class="card-header">
      Password reset tokens
    </div>
    {% set routeExists = perform_route_exists('perform_user_forgot_password_reset') %}
    <div class="card-body">
      {% if tokens|length > 0 %}
        <table class="table">
          <thead>
            <th>Id</th>
            <th>Created</th>
            <th>Expires</th>
          </thead>
          <tbody>
            {% for token in tokens %}
              <tr>
                <td>
                  {% if routeExists %}
                    <a href="{{url('perform_user_forgot_password_reset', {id: token.id, secret: token.secret})}}">
                      {{url('perform_user_forgot_password_reset', {id: token.id, secret: token.secret})}}
                    </a>
                  {% else %}
                    {{token.id}}
                  {% endif %}
                </td>
                <td>
                  {{token.createdAt | date}}
                </td>
                <td>
                  <a href="#" data-toggle="tooltip" class="tooltips" data-placement="bottom" title="{{token.expiresAt | date('H:i:s d/m/Y')}}">
                    {{token.expiresAt | perform_human_date}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <em>No tokens</em>
      {% endif %}
    </div>
  </div>
{% endblock %}
