{% extends 'PerformBaseBundle:types:simple.html.twig' %}

{% block view %}
  {% if admin is not null %}
    <ul>
      {% for item in collection %}
        <li>
          {{admin.getNameForEntity(item)}}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block create %}
  <div class="collection" data-field="{{field}}">
    <a class="btn btn-primary add-item" href="#">
      <i class="fa fa-plus"></i>
    </a>
    <div class="collection-rows" id="collection-{{field}}">
      {% for childForm in form[field] %}
        <div class="collection-row">
          {% for childField, childConfig in childForm.vars.fields %}
            {% if context == 'create' %}
              {{perform_crud_create_context(entity, childField, childConfig, childForm)}}
            {% else %}
              {{perform_crud_edit_context(entity, childField, childConfig, childForm)}}
            {% endif %}
          {% endfor %}
          <a class="btn btn-danger remove-item" href="#">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <script type="text/template" id="template-collection-{{field}}">
     <div class="collection-row">
        {% set childForm = form[field].vars.prototype %}
        {% for childField, childConfig in childForm.vars.fields %}
        {% if context == 'create' %}
            {{perform_crud_create_context(entity, childField, childConfig, childForm)}}
        {% else %}
            {{perform_crud_edit_context(entity, childField, childConfig, childForm)}}
        {% endif %}
        {% endfor %}
      <a class="btn btn-danger remove-item" href="#">
        <i class="fa fa-trash-o"></i>
      </a>
     </div>
  </script>
{% endblock %}
