{% extends 'PerformBaseBundle::base.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> Media</h3>
  <a href="{{path('perform_media_file_upload')}}" class="btn btn-primary">Upload</a>
  <div class="row mt">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table media-listing">
            <thead>
              <th>Name</th>
              <th>Type</th>
              <th>Preview</th>
              <th></th>
            </thead>
            <tbody>
              {% for file in files %}
                <tr>
                  <td>
                    {{file.name}}
                  </td>
                  <td>
                    {{perform_file_listing_type(file)}}
                  </td>
                  <td>
                    {{perform_file_preview(file, {size: 'small'})}}
                  </td>
                  <td>
                    <a href="#" data-action="{{path('perform_media_file_delete', {id: file.id})}}" data-toggle="modal" data-target="#modal-delete">Delete</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extras %}
  {% include 'PerformBaseBundle:Crud:modal/delete.html.twig' %}
{% endblock %}
