{% extends '@PerformBase/type/simple.html.twig' %}

{% block list %}
  {{value|raw}}
{% endblock %}

{% block create %}
  <div class="form-group row {% if not form[field].vars.valid %} is-invalid{% endif %}">
    {{- form_label(form[field]) -}}
    <div class="col-sm-10">
      {{- form_widget(form[field]) -}}
      <div class="p-html-editor">
        {{type_vars.html|raw}}
      </div>
      {{- form_errors(form[field]) -}}
    </div>
  </div>
{% endblock %}
