{% extends 'PerformBaseBundle:Crud:view.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> Contact Form Message</h3>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-user fa-fw"></i>
      {{entity.name}}
    </div>
    <div class="card-body">
      <p>
        <small class="text-muted">
          <i class="fa fa-envelope"></i>
          {% if entity.isSpam() %}
            {{entity.email}}
          {% else %}
            <a href="mailto:{{entity.email}}">
              {{entity.email}}
            </a>
          {% endif %}
        </small>
      </p>

      <p>
        <small class="text-muted">
          <i class="fa fa-clock-o"></i> {{entity.createdAt | date('g:ia, D jS M Y')}}
        </small>
      </p>

      {% if entity.isSpam() %}
        <div class="alert alert-danger">
          <strong><i class="fa fa-warning"></i> This message was identified as spam.</strong>
          {% for report in entity.spamReports %}
            {% include 'PerformContactBundle:SpamReport:'~report.type~'.html.twig' with {report: report}%}
          {% endfor %}
        </div>
      {% endif %}

      {% block extras %}
      {% endblock %}

      <p class="card-text">
        {{entity.message | nl2br}}
      </p>

      <a href="{{perform_crud_route(entity, 'list')}}" class="back-button btn btn-light">
        Back
      </a>
      {% for action in perform_action_buttons_for(entity) %}
        {{perform_action_button(action, entity, 'view')}}
      {% endfor %}
    </div>
  </div>
{% endblock %}
