{% extends 'PerformBaseBundle:Crud:view.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> Contact Form Message</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-user fa-fw"></i>
      {{entity.name}}
    </div>
    <div class="panel-body">
      <p>
        <small class="text-muted">
          <i class="fa fa-envelope"></i>
          {% if entity.isSpam() %}
            {{entity.email}}
          {% else %}
            <a href="mailto:{{entity.email}}">
              {{entity.email}}
            </a>
          {% endif %}
        </small>
      </p>

      <p>
        <small class="text-muted">
          <i class="fa fa-clock-o"></i> {{entity.createdAt | date('g:ia, D jS M Y')}}
        </small>
      </p>

      {% if entity.isSpam() %}
        <div class="alert alert-danger">
          <h4><i class="fa fa-warning"></i> This message was identified as spam.</h4>
          {% for report in [] %}
            {% include 'PerformContactBundle:SpamReport:'~report.type~'.html.twig' with {report: report}%}
          {% endfor %}
        </div>
      {% endif %}

      <div class="well">
        {{entity.message | nl2br}}
      </div>

      <a href="{{perform_crud_route(entity, 'list')}}" class="btn btn-default">Back</a>
{% endblock %}