<!DOCTYPE html>
<html>
  <head>
    <title>{%- verbatim %}{% block title %}Home{% endblock %}{%- endverbatim %} | {{perform_dev('app_name')}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="{%- verbatim %}{{asset('/bundles/{%- endverbatim %}{{bundleAssetName}}{%- verbatim %}/css/app.css')}}{%- endverbatim %}" />
  </head>
  <body>
    {% verbatim %}{% include '{%- endverbatim %}{{bundleName}}{%- verbatim %}::nav.html.twig' %}{%- endverbatim %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 flash-messages">
          {%- verbatim %}
          {% for class, messages in app.session.flashbag.all %}
            {% for message in messages %}
              <div class="alert alert-{{ class }}">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endfor %}
          {%- endverbatim %}
        </div>
      </div>

      <div class="content">
        {%- verbatim %}
        {% block content %}
        {% endblock %}
        {%- endverbatim %}
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 copyright">
            <p>
              © {% verbatim %}{{date('Y') | date('Y')}}{% endverbatim %} {{perform_dev('app_name')}}. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>

    {%- verbatim %}
    {% block js %}
    {%- endverbatim %}
      <script src="{%- verbatim %}{{asset('/bundles/{%- endverbatim %}{{bundleAssetName}}{%- verbatim %}/js/jquery.min.js')}}{%- endverbatim %}"></script>
      <script src="{%- verbatim %}{{asset('/bundles/{%- endverbatim %}{{bundleAssetName}}{%- verbatim %}/js/bootstrap.min.js')}}{%- endverbatim %}"></script>
    {%- verbatim %}
    {% endblock %}
    {%- endverbatim %}
  </body>
</html>
